*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color: $third;
  list-style: none;
}

body {
  height: 100vh;
  //overflow: hidden;
}
