.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 0;
  min-height: 20rem;
  min-width: 300px;
  width: 80vh;
  z-index: 99;
}

article {
  background-color: $primary;
  background-image: linear-gradient(
      rgba(153, 90, 32, 0.5),
      rgba(253, 121, 32, 0.5)
    ),
    url("../../img/articles/fond.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 0 2rem 0.5rem;
  border-radius: 2%;
  position: absolute;
  transform: translateY(0);
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 90vh;
  min-width: 300px;
  display: none;
  width: 90vw;
  overflow: hidden;
  animation: Opacity2 2s ease-in-out forwards;
  opacity: 0;
  z-index: 3;
  & .closeBtn {
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;

    & img {
      width: 1rem;
      filter: invert(40%);
    }
  }
  & h1 {
    color: $thirdText;
    background-color: rgba(255, 235, 205, 0.178);
    box-shadow: inset 0 0 2rem #30385f3a;
    width: 100%;
    padding: 0.3rem 0;
    margin-top: 2%;
    border-radius: 10px;
  }
  & h3 {
    color: $thirdText;
  }
  & p {
    padding-top: 2%;
    color: $thirdText;
    font-size: 0.8rem;
  }
  & span {
    color: $thirdText;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      transform: scale(2);
    }
  }
  & a {
    color: $thirdText;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      transform: scale(2);
    }
  }
  & b {
    color: $thirdText;
  }
}

.visible {
  display: block;
  animation: Opacity 1s ease-in-out forwards;
}

@keyframes Opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about,
.music,
.artwork {
  padding-bottom: 2.5rem;
}

.about {
  &-img {
    background: url("../../img/photo/photo2.jpg") center / cover;
    width: 100%;
    height: 70vh;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    & .text-container {
      max-height: 350px;
      border-radius: 10px;
      background-color: rgba(245, 210, 158, 0.2);
      box-shadow: 0 0 0.5rem rgba(245, 210, 158, 0.2);
      width: 55%;
      padding: 0.3rem 0.3rem;
      margin-left: 2%;
    }
  }
}

.music {
  & img {
    width: 100%;
    height: auto;
  }
}

.ikigai {
  width: 68vw;
  height: 90vh;
  position: absolute;
  color: wheat;
  position: absolute;
  top: calc(50% - 45vh);
  left: calc(50% - 34vw);
  opacity: 0;
  transition: opacity 1s;
  background: url(../../img/ikigai/ikigai.png) no-repeat center / contain,
    radial-gradient(rgb(77, 42, 3), rgb(235, 194, 156));
  &.active-ikigai {
    opacity: 1;
    z-index: 99;
  }
}

.about .btn {
  &-artwork {
    position: absolute;
    bottom: 2%;
    left: 2%;
  }
  &-music {
    position: absolute;
    bottom: 2%;
    right: 2%;
  }
}

.music .btn {
  &-about {
    position: absolute;
    bottom: 2%;
    left: 2%;
  }
  &-artwork {
    position: absolute;
    bottom: 2%;
    right: 2%;
  }
}

.artwork .btn {
  &-music {
    position: absolute;
    bottom: 2%;
    left: 2%;
  }
  &-about {
    position: absolute;
    bottom: 2%;
    right: 2%;
  }
}
.btn {
  color: $thirdText;
  border: 0.1rem $thirdText solid;
  border-radius: 10px;
  padding: 0.3rem 0.3rem 0.2rem;
  margin: 0;
  background-color: transparent;
}

.hidden {
  display: none;
}
