.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 1rem;
  transition: all 0.5s;
  & .text-slide {
    transform: translateY(500px);
    opacity: 0;
    &.active {
      transform: translateY(0);
      opacity: 1;
      transition: transform 0.5s, opacity 2s;
    }
  }
  & h3 {
    margin-top: 4%;
    margin-bottom: 0;
    font-size: 0.8rem;
  }
  & p {
    padding: 0;
    font-size: 0.7rem;
  }
}

.slide-img {
  border-radius: 10px;
  height: 50vh;
  width: auto;
  opacity: 0;

  &.active {
    opacity: 1;
    transition: opacity 2s;
  }
}

.prev-img,
.next-img {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  width: 2rem;
  height: 5rem;
  color: $thirdText;
  border-radius: 10px;
  padding: 0 0.2rem;
  cursor: pointer;
  &:hover {
    color: $primary;
    background-color: $thirdText;
  }
  &:active {
    border: 1px $thirdText solid;
    background-color: transparent;
    color: $thirdText;
  }
}

.artwork-img {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  & .prev-img {
    margin-right: 2%;
  }
  .next-img {
    margin-left: 2%;
  }
}
